@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

html, .container {
    height: 100%;
    width: 100%;
    min-height: 800px;
    min-width: 1280px;
    align: center;
    overflow: hidden;
}

body {
    background-image: url(Desktop/학교/예공/표준웹테크놀로지(2-1)/영차Planet/Planet.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.header {
	margin-top: 15px;
	margin-left: 60px;
}

.main {
    flex: 1;
    text-align: center;
    padding: 10%;
}

@keyframes GoOpacity {
    0% { opacity: 0.2; }
    50% { opacity:0.8; }
    100% { opacity: 0.2; }
}

.main a {
    height: 100vh;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: 130px;
    margin-left: 90px;
    -webkit-animation: GoOpacity 3s linear infinite;
}

.main a:hover {
    animation: pause;
}

.main a span {
    color: #E81224;
    -webkit-text-stroke: 4px black;
}

.footer {
    display: flex;
    justify-content: space-between;
	font-family: "새굴림";
	font-size: 12px;
	letter-spacing: 1.5px;
	line-height:1.8;
	color: #858585;
	text-align: left;
}

.coordinates {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    margin-left: 65px;
}

.document {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 65px;
}

.document a {
    text-decoration: none;
    color: #858585;
}
